.introSection,
.missionSection,
.teamSection {
  margin-bottom: 2rem;
  padding: 50px 0;
  background-color: #1f2937;
  border-radius: 8px;
  color: #ffffff;
}

.teamMembers {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.teamMember {
  background-color: #3b4252;
  padding: 1rem;
  border-radius: 8px;
  text-align: center;
}

.teamMember img {
  margin-bottom: 1rem;
  border-radius: 50%;
}
